body{
    background-color:chartreuse;
    text-align:center;
}

.heading{
    width: 40%;
    font-size: 40px;
    font-weight: bold;
}
#objects{
background-color:blue;
font-size: 20px;
font-weight: bold;
color:white;
}

